<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeproduto:</strong>
  <%= @tipoproduto.nomeproduto %>
</p>

<%= link_to 'Edit', edit_tipoproduto_path(@tipoproduto) %> |
<%= link_to 'Back', tipoprodutos_path %>
